
<%- include("./partials/head.ejs") %>
<body>
    <!-- HERO SECTION -->
    <section class="hero--section">
        <h1 class="headers hero__section__header">Elite Coffee Brands</h1>
        <p class="text hero__section__text">Coffee Shop is the place where you can get flavorful coffee strains <br> from global elite brands and roasters at very affordable price.</p>
        <button class="hero__section__cta cta">Read More</button>
    </section>
    <!-- ABOUT -->
    <section class="about--us">
        <div class="about--us--one">
            <h2 class="about__us__header">Who We Are</h2>
            <div class="about__us__text">We are a team of dedicated coffee fans who celebrate exceptional coffee brands and roasters by providing our guests the unique opportunity to try coffee drinks of the highest quality.</div>
            <button class="about__us__cta cta">Learn More</button>
        </div>
        <div class="about--us--two">
            <img src="../images/beans-and-powder.jpg" alt="beans and coffee powder">
            <img src="../images/two-coffees.jpg" alt="two coffees">
            <img src="../images/man-drinking-coffee.jpg" alt="beans and coffee powder">
        </div>
    </section>
</body>
</html>